body {
    background: linear-gradient(135deg, #0e4a8f, #3692e2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

* {
    background: linear-gradient(135deg, #0e4a8f, #3692e2);

}

h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.5em;
    letter-spacing: 2px;
    -webkit-background-clip: text;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    text-align: center;
    color: white;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
}

#time {
    color: white;
    background: linear-gradient(145deg, #3692e2, #0e4a8f);
    font-size: 7em;
    padding: 40px 70px;
    border-radius: 20px;
    box-shadow:
        0 10px 30px #1c4e86,
        0 0 40px #51739b;
    text-shadow:
        0 0 20px #a2afbe,
        0 0 40px #8d97a5;
    letter-spacing: 4px;
}

/* Media queries */
@media (max-width:768px) {
    .clock {
        width: 50%;

    }

    #time {
        width: 100%;
        font-size: 3.7em;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        padding-left: 80px;
        padding-right: 80px;
        letter-spacing: 1px;
        box-shadow:
        0 10px 30px #1c4e86,
        0 0 40px #51739b;
        text-shadow:
        0 0 20px #a2afbe,
        0 0 40px #8d97a5;


    }

    h1 {
        font-size: 2.5em;
        position: absolute;
        top: 110px;
        

    }
}